<%- include('head') -%>
<ul>
    <% articles.forEach((article) => { %>
    <li>
        <a href="/articles/<%= article.id %>">
            <%= article.title %> (3)
        </a>
    </li>
    <% }) %>
</ul>
<%- include('foot') -%>
